body {
	font-family: Arial, sans-serif;
    background: #d7e5f0;
}

h1 {
	text-align: center;
}
.container{
  width: 800px;  
  /* border: 1px solid red; */
  margin: auto;
  background: #C4FCEF;
}

form {
    width: 800px;
	display: flex;
	margin-bottom: 20px;
}

input[type="text"] {
	flex-grow: 1;
	padding: 10px;
	border-radius: 5px 0 0 5px;
	border: 1px solid #ccc;
}

button[type="submit"] {
	padding: 10px 15px;
	border-radius: 0 5px 5px 0;
	background-color: #4CAF50;
	color: white;
	border: none;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #3e8e41;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	display: flex;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

li span {
	flex-grow: 1;
}

li button {
	margin-left: 10px;
	background-color: #f44336;
	color: white;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
    
}

li button.edit {
	background-color: #2196F3;
}

li button.edit:hover {
	background-color: #0e7cbb;
    box-shadow: 5px 5px 4px grey;
}
